{{#> layout}}
  {{#> head}}
    <title>VGRanker | Home</title>
    <link rel="stylesheet" href="/css/style.css">
  {{/head}}
  {{#> body}}
    {{> _navbar}}

    <div class="card">
      <p>Welcome to VGRanker.</p>
      <p>You can view information about VR games and cast votes to rank them.</p>
      <p>You must be <a href="/login">log in</a> to view games and vote.</p>
    </div>
  {{/body}}
{{/layout}}