{{> _navbar}}

<div class="card">
  <p>Welcome to VGRanker.</p>
  <p>You can view information about VR games and cast votes to rank them.</p>
  <p>You must be <a href="/login">log in</a> to view games and vote.</p>
</div>
