{{#> layout}}
  {{#> head}}
    <title>VGRanker | Home</title>
    <link rel="stylesheet" href="C:/Users/mrthe/bootcamp/class_challenges/Group_Project_2/team-world-cup/Develop/views/CSS/styles.css">
  {{/head}}
  {{#> body}}


    <div class="card">
      <p>Welcome to VGRanker.</p>
      <p>You can view information about VR games and cast votes to rank them.</p>
      <p>You must <a href="/login">log in</a> to view games and vote.</p>
    </div>
  {{/body}}
{{/layout}}