<!DOCTYPE html>
<html>
{{#> layout}}
  {{#> head}}
    <title>VGRanker | Home</title>
    <link rel="stylesheet" href="/css/style.css">
  {{/head}}
  {{#> body}}
    {{> _navbar}}

   
  {{/body}}
{{/layout}}
</html>