<!DOCTYPE html>
<html>
  <head>
    <title>VG Ranker</title>
    <link rel="stylesheet" href="Develop/views/css/styles.css">
  </head>
  <body>
    {{> _navbar}}
    <div class="container mt-4">
      {{{body}}}
    </div>
    <script src="/Develop/logic/votes.js"></script>
    <script src="/Develop/logic/signup.js"></script>
    <script src="/Develop/logic/login.js"></script>
  </body>
</html>