<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="./team-world-cup/Develop/views/CSS/style.css"/>
    <script src="./team-world-cup/Develop/controllers/index.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="./CSS/style.css" rel="stylesheet" />
    <title>VRG RANKER</title>
  </head>
  <body>
    {{#if logged_out}}
    <header>
        <h1> WELCOME TO VRG RANKER</h1>
    </header>
    <main class="app-container">
     
        <section class="menu-container">
          <nav class="menu">
            <div class="btn>">
              <button class="btn-activity"></button>
              <div class="text">LOGIN</div>
              <span class="bg"></span>
            </div>
            <div class="btn>">
              <button class="btn-activity"></button>
              <div class="text">SIGN-UP</div>
              <span class="bg"></span>
            </div>
          </nav>
        </section>

        <!-- ///////////////////////////////////////////// -->
        <div class="How-to-container">
          <div class="Scene-info">
            <div class="info">
              <h2>STUFF</h2>
              <p>some stuffity stuff</p>
            <div class="info">
              <h2>COOL</h2>
              <p>so freaking cool</p>
            <div class="info">
              <h2>HOW-TO</h2>
              <p>blahblahbla</p>
            <div class="info">
              <h2>MUST BE</h2>
              <p>must be logged-in in order to proceed</p>
            </div>
    
        </div>
      </div>
    </main>
    
    <script></script>
    {{/if}}
  </body>
</html>
