<!DOCTYPE html>
<html>
  <head>
    <title>VG Ranker</title>
    <link rel="stylesheet" href="C:/Users/mrthe/bootcamp/class_challenges/Group_Project_2/team-world-cup/Develop/views/CSS/styles.css">
  </head>
  <body>
    {{> _navbar}}
    <div class="container mt-4">
      {{{body}}}
    </div>
  </body>
</html>